:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: hsl(202, 86%, 94%);
  overflow-x: hidden;
}

main {
  display: flex;
  width: 70%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  /* justify-content: space-between; */
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title div {
  text-decoration: underline;
  color: hsl(200, 26%, 54%);
}

.form-area {
  background-color: hsl(0, 0%, 100%);
  padding: 10px 30px 30px 30px;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.result-area {
  width: 50%;
  background-color: hsl(202, 55%, 16%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 50px;
}

.incompleted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  padding: 0 30px;
}

.incompleted h2 {
  color: #fff;
}

.incompleted p {
  color: hsl(202, 86%, 94%);
  font-weight: 400;
  font-size: 15px;
  margin-top: -8px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: hsl(200, 26%, 54%);
}

.input-group,
.input-box {
  margin-bottom: 10px;
}

.input-with-symbol {
  display: flex;
  align-items: center;
  border: 1.5px solid hsl(203, 41%, 72%);
  border-radius: 5px;
  /* padding: 5px; */
  background-color: #f9f9f9;
}

.input-with-year,
.input-with-percentage {
  display: flex;
  align-items: center;
  border: 1.5px solid hsl(203, 41%, 72%);
  border-radius: 5px;
  padding: 4px 0px;
  background-color: #f9f9f9;
  width: 100%;
}

.input-box {
  display: flex;
  justify-content: space-between;
}

.input-field {
  width: 48.5%;
  position: relative;
}

.input-with-year span,
.input-with-percentage span {
  background-color: hsl(203, 41%, 72%);
  padding: 8px 18px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: 700;
}

.percentage {
  position: absolute;
  right: -1px;
}

.year {
  position: absolute;
  left: 63.5%;
}

.input-with-symbol span {
  color: hsl(200, 24%, 40%);
  background-color: hsl(203, 41%, 72%);
  padding: 6.5px 16px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 700;
}

input {
  border: none;
  outline: none;
  flex: 1;
  padding: 6px;
  background-color: transparent;
  font-size: 16px;
}

.tip {
  border: 1.5px solid hsl(203, 41%, 72%);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 6px 10px;
}

.tip span {
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  margin-left: 30px;
  text-align: center;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  border: 1.5px solid hsl(203, 41%, 72%);
  border-radius: 50%;
  position: absolute;
  outline: none;

  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: hsl(61, 70%, 52%); /* Blue color for checked state */
  border: 1.5px solid hsl(61, 70%, 52%);
}

button {
  padding: 12px 40px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  background-color: hsl(61, 70%, 52%);
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

small {
  color: hsl(4, 69%, 50%);
}

.error {
  background-color: hsl(4, 69%, 50%);
  color: white;
}

.input-error {
  border: 1.5px solid hsl(4, 69%, 50%);
}
.complete-message {
  padding: 10px 30px;
}
.complete-message h2 {
  color: #fff;
}

.complete-message p {
  color: hsl(202, 86%, 94%);
}

.result-message {
  margin-top: 20px;
  background-color: hsl(196, 75%, 8%);
  padding: 5px 20px;
  border-radius: 10px;
  border-top: 4px solid hsl(61, 70%, 52%);
}

.result-message p {
  color: hsl(202, 86%, 94%);
}

.result-message h2 {
  margin-top: -14px;
  margin-bottom: 12px;
  color: hsl(61, 70%, 52%);
}

.result-message div {
  border-bottom: 1px solid hsl(202, 86%, 94%);
}

@media screen and (max-width: 767px) {
  main {
    width: 100%;
    flex-direction: column;
    margin: none;
  }
  .form-area,
  .result-area {
    width: 100%;
    border-radius: 0;
  }
  .result-area {
    padding: 20px 20px;
  }
  .title {
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
  }

  .title h2 {
    margin-bottom: 2px;
  }
}
